/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reset a */
a, a:visited , a:active , a:focus{
	color: black;
	text-decoration: none;
}

/** end reset css**/
body {
	/* max-width: 1140px; */
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	position: relative;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
	max-width: 1140px;
}



section {
	margin: 50px auto;
	max-width: 1140px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap:44px;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav img{
	width: 22px;
	height: 22px;
}

li:hover a{
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	margin : 140px auto;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#portfolio .filters{
	display : flex;
	justify-content: center;
	gap : 10px;
	margin-bottom: 30px;
}

#portfolio .filters button {
	padding: 10px 15px;
	min-width: 100px;
	border-radius: 60px;
	background-color : white;
	border: 1px solid #1D6154; 
	color: #1D6154;
	text-align: center;
	font-size: 16px;
	font-family: Syne;
	font-weight: 700; 
	cursor: pointer;
}

#portfolio .filters .selected{
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	width: 54%;
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#login {
	width: 30%;
	margin: 150px auto 255px auto;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.forgetPassword{
	text-decoration: underline;
	margin : auto;
}

#errorMessage{
	text-align: center;
	color : red;
	margin : 10px;
}

#divEditionMain{
	display: flex;
	width: 100%;
	height: 59px;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: White;
	gap: 10px;
	
}

#divEditionMain div{
	background-color: #FFFEF8;
	color: black;
	padding: 11px 23px;
	border-radius: 60px;
	margin-left: 12px;
	cursor: pointer;
}

#divEditionPfp{
	display: flex;
	align-items: flex-start;
	margin: auto;
	padding-top: 10px;;
	width: 80%;
	gap : 8px;
	cursor: pointer;
}

#divEditionPfp img{
	height : 18px;
	width: 18px;
	margin:0;
}

.portfolioTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

#divEditionGallery{
	display: flex;
	gap : 8px;
	margin-bottom: 30px;
	cursor: pointer;
}

#divEditionGallery img{
	height : 18px;
	width: 18px;
}


/* MODAL */

#modalSection{
	display: flex;
    position: fixed;
    top:0;
	left:0;
	margin-top: 0px;
	height: 100vh;
	width: 100vw;
	max-width: none;
	background-color: rgba(0, 0, 0, 0.30);
}

#modal{
	position: absolute;
	width: 570px;
	/* max-height: 80%; */
    top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius:10px;
	padding: 30px;
}

.modalNav{
	display: flex;
	justify-content:flex-end;
	width : 100%;
	margin-bottom : 10px;
}

.arrowReturn{
	position: relative;
	display: flex;
	width: 21px;
	height: 21px;
	top:0;
	right:525px;
}

.modalEditionGallery{
	display: flex;
	flex-direction: column;
	align-items: center;
}

h3{
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	margin-bottom : 40px;
}

.modalGallery{
	display: flex;
	flex-wrap: wrap;	
	gap : 7px;
	margin : 0 75px;
}

.modalGallery figure{
	position: relative;
	margin-bottom : 5px;
}

.modalGallery img{
	width: 78px;
	height: 104px;
}

figure .drag{
	display: none;
	position: absolute;
	top: 6px;
	left : 35px;
	width : 17px;
	height: 17px;
	border-radius: 1px;
	cursor: pointer;
}

figure:hover .drag{
	display: flex;
}

figure .trash{
	position: absolute;
	top: 6px;
	left : 55px;
	width : 9px;
	height: 11px;
	padding: 3px 4px;
	border-radius: 1px;
	cursor: pointer;
	background-color: black;
}

.separationLine{
	content: "";
	display: block;
	width: 420px;
	height: 1px; 
	background: #B3B3B3; 
	margin-bottom: 38px;
	margin-top: 47px;
}

.buttonAddPicture{
	width: 237px;
	border-radius: 60px;
	background: #1D6154; 
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	padding:10px;
	margin-bottom: 23px;
	cursor: pointer;
}

.buttonSupprAllProjects{
	color: #D65353;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	margin-bottom:18px;
	cursor: pointer;
}

.modalAddProject {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#modalForm{
	display: flex;
	flex-direction:column;
}

.preview{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 420px;
	height: 170px;
	border-radius: 3px;
	background: #E8F1F6;
	margin-bottom: 30px;
}

.noPicture{
	margin : 22px 0 15px 0;
}

.imgPreview{
	height: 100%;
}

.sendPictureClass{
	position: relative;
	margin-top: 15px;
	cursor: pointer;
}

.sendPictureClass label{
	position: relative;
	width: 173px;
	height: 36px;
	padding: 10px 33px;
	border-radius: 50px;
	background: #CBD6DC;
	color: #306685;
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	cursor: pointer;
}

.sendPictureClass input{
	position : absolute;
	top:0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	z-index:-1;
}

.modalValidateButton{
	width: 237px;
	border-radius: 60px;
	background-color: #A7A7A7; 
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 14px;
	padding:10px;
	margin-bottom: 23px;
	border: none;
	cursor: pointer;
}

.preview p{
	color: #444;
	text-align: center;
	font-size: 10px;
	margin-top:17px;
}

.modalLabel {
	color: #3D3D3D;
	margin-bottom: 10px;
}

.modalField{
	width: 420px;
	height: 51px;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
	padding:0;
}

.selectCategorie{
	cursor: pointer; 
}

#pictureTitle{
	margin-bottom: 20px;
}

#modalSection.hidden{
	display: none;
}

.hidden{
	display: none;
}

